<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronics store</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/icon-E-commerce-and-websites.webp" type="image/x-icon">
</head>

<body>
    {% block body %}
    {% endblock %}

    <footer>
        <p>
            © 2024 <span class="site-name">Electronics Store</span>. All Rights Reserved | Made with
            <span class="heart">❤</span> by
            <span class="footer-name">Mariam Saeed</span>
        </p>
    </footer>
</body>

</html>